{% extends "layout.html" %} {% block title %}Turnos{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<h1 class="text-center m-3">Editar Turno</h1>
<form class="m-3" action="{{ url_for('update_by_centro', centro_id=centro.id, turno_id=turno.id) }}" method="POST">
    <div class="form-group col-md-6">
        <label>Nombre</label>
        <input class="form-control" type="text" name="nombre" placeholder="Nombre" value="{{ turno.nombre }}" />
    </div>
    <div class="form-group col-md-6">
        <label>Apellido</label>
        <input class="form-control" type="text" name="apellido" placeholder="Apellido" value="{{ turno.apellido }}" />
    </div>
    <div class="form-group col-md-6">
        <label>Email</label>
        <input class="form-control" type="email" name="email" placeholder="example@example.com" value="{{ turno.email }}" />
    </div>
    <div class="form-group col-md-6">
        <label>Telefono</label>
        <input class="form-control" type="text" name="telefono" placeholder="221-5555555" value="{{  turno.telefono }}">
    </div>
    <div class="form-group col-md-6">
        <label>Centro social</label>
        <br>
        <select name="centro_social">
          <option value="{{ centro.id }}">{{ centro.nombre }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
        <label>Hora de inicio</label>
        <input class="form-control" type="time" name="hora_inicio" value="{{ turno.hora_inicio }}" />
    </div>
    <div class="form-group col-md-6">
        <label>Hora de fin</label>
        <input class="form-control" type="time" name="hora_fin" value="{{ turno.hora_fin }}" />
    </div>
    <div class="form-group col-md-6">
        <label>Fecha</label>
        <input class="form-control" type="date" name="fecha" placeholder="DD/MM/AAAA" value="{{ turno.fecha}}" />
    </div>
    <input type="submit" value="Guardar" class="btn btn-success">
    <a href="{{url_for('index_by_centro', centro_id=centro.id, page_num=1)}}" class="btn btn-danger m-3">Volver</a>
</form>
{% endblock %}