{% extends "layout.html" %}
{% block title %}Turnos{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
  <h1 class="text-center m-3">Turnos</h1>
  <div>
    <div>
      <form class="ml-3" action="{{ url_for('turno_buscar', page_num=1) }}" method="POST">
        <p>
          <label>Filtro</label></br>
          <select name='opcion'>
            <option value='Todos' title="Mostrara todos los turnos">--Seleccione una opción--</option>
            <option value='Email'>Email</option>
            <option value='Centro'>Centro</option>
          </select>
          <input type="text" name="filtro" placeholder="Buscar">
          <input type="submit" value="Buscar">
        </p>
      </form>
    </div>
  </div>
  </br>
  <table class="table m-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Hora de inicio</th>
        <th scope="col">Hora de fin</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    {% for turno in turnos.items %}
    <tr>
      <td>{{ turno.email }}</td>
      <td>{{ turno.telefono }}</td>
      <td>{{ turno.hora_inicio }}</td>
      <td>{{ turno.hora_fin }}</td>
      <td>{{ turno.fecha }}</td>
      <td><a href="{{ url_for('turno_confirmar', id=turno.id) }}">Eliminar</a> |
      <a href="{{ url_for('turno_edit', id=turno.id) }}">Editar</a> 
      </td>
    </tr>
    {% endfor %}
  </table>
  <ul class="pagination">
    {% if turnos.has_prev %}
      <li class="page-item"><a class="page-link" href="{{ url_for('turno_index', page_num=turnos.prev_num) }}">Anterior</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Anterior</span>
    {% endif %}
    </li>
      
    {% for page in turnos.iter_pages(left_edge=3, right_edge=3) %}
      {% if page %}
        <li class="page-item"><a class="page-link" href="{{ url_for('turno_index', page_num=page) }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
      {% endif %}
    {% endfor %}
    
    {% if turnos.has_next %}
      <li class="page-item"><a class="page-link" href="{{ url_for('turno_index', page_num=turnos.next_num) }}">Siguiente</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
    {% endif %}
  </ul>

  <a href="{{ url_for('home') }}" class="btn btn-danger m-3">Volver</a>
  <a href="{{ url_for('turno_new') }}" class="btn btn-success m-3">Nuevo</a>
{% endblock %}