{% extends "layout.html" %} {% block title %}Nuevo turno{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<h1 class="text-center m-3">Crear un nuevo turno</h1>
<form action="{{ url_for('turno_create') }}" method="POST">
    <div class="form-group col-md-6">
        <label>Nombre</label>
        <input class="form-control" type="text" name="nombre" placeholder="Nombre" />
    </div>
    <div class="form-group col-md-6">
        <label>Apellido</label>
        <input class="form-control" type="text" name="apellido" placeholder="Apellido" />
    </div>
    <div class="form-group col-md-6">
        <label>Email</label>
        <input class="form-control" type="email" name="email" placeholder="example@example.com" />
    </div>
    <div class="form-group col-md-6">
        <label>Nombre</label>
        <input class="form-control" type="text" name="nombre" placeholder="nombre"/>
    </div>
    <div class="form-group col-md-6">
        <label>Apellido</label>
        <input class="form-control" type="text" name="apellido" placeholder="apellido"/>
    </div>
    <div class="form-group col-md-6">
        <label>Telefono</label>
        <input class="form-control" type="text" name="telefono" placeholder="221-5555555" />
    </div>
    <div class="form-group col-md-6">
        <label>Centro social</label>
        <br>
        <select name="centro_social">
            {% for centro in centros%}
                <option value="{{ centro.id }}">{{ centro.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Hora de inicio</label>
        <input class="form-control" type="time" name="hora_inicio" placeholder="09:00" />
    </div>
    <div class="form-group col-md-6">
        <label>Hora de fin</label>
        <input class="form-control" type="time" name="hora_fin" placeholder="09:30" />
    </div>
    <div class="form-group col-md-6">
        <label>Fecha</label>
        <input class="form-control" type="date" name="fecha" placeholder="DD/MM/AAAA" />
    </div>
    <input class="btn btn-success m-3" type="submit" value="Crear">
    <a href="{{url_for('turno_index', page_num=1)}}" class="btn btn-danger m-3">Volver</a>
</form>
{% endblock %}